body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 100vh;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.menu {
    background-color: #02040f !important;
    transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    width: 4.5rem;
}

.menu.expanded {
    width: 20rem !important;
}

.logoMenu img {
    width: 4.5rem;
    padding: 0.8rem;
    transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
}

.img2 {
    width: 12rem !important;
    margin-left: 1rem !important;
    margin-top: 1rem !important;
}

.open2 {
    position: absolute !important;
    transition: 0.5s ease-in-out !important;
    transform: translateX(16.5rem) !important;
}

.padrao {
    transition: none !important;
}

.perfil {
    position: absolute !important;
    transform: translateX(15%);
    transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    bottom: 0.5rem;
    z-index: 10;
}

.perfil.open {
    transform: translateX(2.5rem);
}

.subMenu li {
    border: 1px solid white;
    border-radius: 10px;
    width: 90% !important;
    height: 4rem;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem 0;
    list-style-type: none;
}

.subMenu ul {
    padding: 0 !important;
    margin: 0 !important;
}

.subMenu img {
    width: 1.5rem;
    margin-top: 0.5;
    margin-left: 1rem;
}

.subMenu span {
    margin-right: 2rem;
    color: white;
    font-size: 1.4rem;
    line-height: 1.5rem;
    float: right;
}

.perfil img {
    width: 3.5rem !important;
    border-radius: 8px;
    border: solid 1px white;
}

.infoUs {
    background-color: white;
    height: 3.7rem;
    width: 15rem;
    position: absolute;
    bottom: 0.4rem;
    transform: translateX(2.4rem);
    border-radius: 8px;
}

.infoUs span {
    display: block;
    margin-left: 5rem;
    margin-top: 1rem;
    width: 9rem;
    height: 3rem;
    text-align: center;
    justify-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.chat-header {
    background-color: #1a1a2e;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.chat-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-history{
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.old-chat {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    width: 70%;
    background-color: #dadada;
    border: solid 1px #6e6e6e;
    border-radius: 10px;
}

.old-chat p{
    text-align: center;
}

.old-chat span{
    color: #8d8d8d;
}

.faq, .corpoCollapse {
    margin: auto;
    padding: 10px;
    width: 70%;
    background-color: #ffffff;
    border: solid 1px #c2c2c2;
    border-radius: 10px;
}

.faq p, .corpoCollapse p{
    text-align: center;
    margin: 0.5rem 0;
}

.corpoCollapse {
    background-color: #e5e5e5 !important;
}


.chat-message {
    margin: 10px 0;
    padding: 10px;
    max-width: 60%;
    background-color: white;
    border: solid 1px #e0e0e0;
    border-radius: 10px;
}

.from-system {
    border-left: 6px solid #020311 !important;
    align-self: flex-start;
    color: #878787;
}

.from-user {
    border-right: 6px solid #1c2fda !important;
    align-self: flex-end;
}

.chat-response {
    display: flex;
    gap: 10px;
}

.chat-response button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1a1a2e;
    color: #fff;
    cursor: pointer;
}

.chat-input {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: #f4f4f4;
    display: flex;
    border-top: 1px solid #ddd;
}

main{
    margin-bottom: 3rem;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chat-input button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1a1a2e;
    color: #fff;
    cursor: pointer;
}

/* Icon 1 */

#abreMenu {
    width: 2.5rem;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    cursor: pointer;
}

#abreMenu span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#abreMenu span:nth-child(1) {
    top: 0px;
}

#abreMenu span:nth-child(2),
#abreMenu span:nth-child(3) {
    top: 12px;
}

#abreMenu span:nth-child(4) {
    top: 24px;
}

#abreMenu.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#abreMenu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#abreMenu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#abreMenu.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.fade-in-element {
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
}

.hide{
    opacity: 0;
}

@media (max-width: 768px) {
    .menu.expanded {
        width: 100% !important;
        position: absolute;
        height: 100%;
    }

    .subMenu {
        transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
        width: 100%;
        max-width: 100vw;
    }

    .chat-container.open{
        display: none;
    }

    .open2 {
        position: absolute !important;
        transition: 0.5s ease-in-out !important;
        transform: translateX(21rem) !important;
    }

    .infoUs{
        width: 80%;
    }
}

@media (max-width: 480px) {
    .menu.expanded {
        width: 100% !important;
    }

    .subMenu {
        width: 100%;
        max-width: 100vw;
        transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    }
}